
<div class="container">
<form class="signup" onsubmit="return false" autocomplete="off">
    <h1>Create account</h1>
    <h2 >Already have an account? <span routerLink="/login">Sign in</span></h2>
  
    <div class="signup__field">
      <input class="signup__input" type="text" name="username" id="username" required />
      <label class="signup__label" for="username">Username</label>
    </div>
  
    <div class="signup__field">
      <input class="signup__input" type="text" name="email" id="email" required />
      <label class="signup__label" for="email">Email</label>
    </div>
  
    <div class="signup__field">
      <input class="signup__input" type="password" name="password" id="password" required />
      <label class="signup__label" for="password">Password</label>
    </div>

    <div class="signup__field">
        <input class="signup__input" type="password" name="password" id="password" required />
        <label class="signup__label" for="password"> Re-enter Password</label>
      </div>

      <div class="signup__field">
        <input class="signup__input" type="text" name="password" id="password" required />
        <label class="signup__label" for="mobile number">Enter your mobile number</label>
      </div>
  
    <button>Sign up</button>
  </form>
 </div>
