<div class="container">
    <form class="signup" onsubmit="return false" autocomplete="off">
        <h1>Login to your account</h1>
        <h2 >Create an account? <span routerLink="/singup">Sign up</span></h2>
      
        <div class="signup__field">
          <input class="signup__input" type="text" name="username" id="username" required />
          <label class="signup__label" for="username">Username</label>
        </div>
      
        
      
        <div class="signup__field">
          <input class="signup__input" type="password" name="password" id="password" required />
          <label class="signup__label" for="password">Password</label>
        </div>
      
        <button>Log in</button>
      </form>
     </div>
    